# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
.idea
back/.idea
# dependencies
front/node_modules
front/.pnp
front/.pnp.js

# testing
front/coverage

# production
front/build

# misc
front/.DS_Store
front/.env.local
front/.env.development.local
front/.env.test.local
front/.env.production.local

front/npm-debug.log*
front/yarn-debug.log*
front/yarn-error.log*

back/HELP.md
back/target/
back/!.mvn/wrapper/maven-wrapper.jar
back/!**/src/main/**/target/
back/!**/src/test/**/target/

### STS ###
back/.apt_generated
back/.classpath
back/.factorypath
back/.project
back/.settings
back/.springBeans
back/.sts4-cache

### IntelliJ IDEA ###
back/.idea
back/*.iws
back/*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
back/.vscode/
docker-compose.yml