.sidebar {
  width: 20%;
  height: 100%;
  background-color: #002e4c;
  color: white;
  position: fixed;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 1px 2px 9px #001829;
}

.toggle-btn {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  padding: 10px;
  margin: 10px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

nav a {
  color: white;
  text-decoration: none;
}
.bottomContent {
  bottom: 2rem;
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.circular-image {
  width: 50px; /* Set your desired width */
  height: 50px; /* Set your desired height */
  border-radius: 50%; /* Make the border radius 50% to create a circle */
  overflow: hidden; /* Hide the parts of the image outside the circle */
}

.circular-image img {
  width: 100%; /* Make the image fill the circular container */
  height: 100%; /* Make the image fill the circular container */
  object-fit: cover; /* Maintain the aspect ratio and cover the container */
}
.clickableUsername {
  font-weight: bold;
  margin: 20px;
}
