.container {
  flex: 1;
  background-color: aliceblue;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.instaTitle {
  font-family: "Bad Script", cursive;
  font-size: 3rem;
}
