/* ProfilePage.css */

.profile-posts {
  max-width: 600px;
}

.profile-post {
  display: flex;
  align-items: center;
  width: 150px; /* 33.33% width for each post with some spacing */
  overflow: hidden;
  height: 200px;
  border: solid 2px #e6e6e6;
  padding: 8px;
  border-radius: 8px;
}

.post-link {
  display: block;
  text-decoration: none;
}

.profile-post img {
  width: 100%;
  height: fit-content;
  filter: blur(2px); /* Adjust the blur amount as needed */
  transition: filter 0.3s ease; /* Smooth transition on hover */
}

.profile-post:hover img {
  filter: blur(0);
}
