.container {
  flex: 1;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.boxForm {
  width: 400px;
  height: auto;
  padding: 50px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.signupHeader {
  font-family: "Bad Script", cursive;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.instaTitle {
  font-size: 2rem;
  font-family: "Bad Script", cursive;
}
.instaLogo {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}
.createAccount {
  text-decoration: none;
  font-size: 1.5rem;
  margin-top: 20px;
  color: #0095f6;
  font-family: "Bad Script", cursive;
  cursor: pointer;
  font-weight: bold;
}

.mailInputWithIcon {
  display: flex;
  width: 100%;
  height: 35px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 5px;
  outline: none;
  margin-top: 16px;
  justify-content: center;
}
.mailIcon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.mailInput {
  width: 100%;
  outline: none;
  border: none;
  font-size: 16px;
}

.passwordInputWithIcon {
  display: flex;
  width: 100%;
  height: 35px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 5px;
  outline: none;
  margin-top: 16px;
  justify-content: center;
}
.passwordInput {
  width: 100%;
  outline: none;
  border: none !important;
  font-size: 16px;
}

.passwordIcon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
