.headerDash {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
  margin-left: 24px;
  margin-top: 24px;
}
.dashTitle {
  font-size: 24px;
  font-weight: 600;
  color: #47709a;
}
.peopleIcon {
  color: #47709a;
}
.table {
  margin: 24px;
  background-color: aqua;
}
.rowTable {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
  margin-left: 24px;
  margin-top: 24px;
}
